<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" (click)="goToManage_Mesa()"> Cancelar </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button color="dark" (click)="goToManage_Mesa()"> Confirmar </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="game-master-page">
  <ion-title class="title" >Gestión de PJ</ion-title>
  <ion-tabs>
    <ion-tab tab="stats">
      <hr>
      <ion-title class="title2">Estadísticas</ion-title>
      <ion-scroll scroll-x="true" scroll-y="false" class="horizontal-scroll">
        <div class="scroll-container">
          <!-- Grupo 1 -->
          <div class="group">
            <div class="header-row">
              <span class="header-title">Nombre</span>
              <span class="header-title">Se le suma al dado</span>
            </div>
            <div *ngFor="let characteristic of grupo1" class="stat-item">
              <span class="stat-name">{{ characteristic.nombre }}</span>
              <ion-input
                type="number"
                [(ngModel)]="characteristic.sumarAlDado"
                class="stat-input"
              ></ion-input>
            </div>
          </div>
  
          <!-- Grupo 2 -->
          <div class="group">
            <div class="header-row">
              <span class="header-title">Nombre</span>
              <span class="header-title">Se le suma al dado</span>
            </div>
            <div *ngFor="let characteristic of grupo2" class="stat-item">
              <span class="stat-name">{{ characteristic.nombre }}</span>
              <ion-input
                type="number"
                [(ngModel)]="characteristic.sumarAlDado"
                class="stat-input"
              ></ion-input>
            </div>
          </div>
  
          <!-- Grupo 3 -->
          <div class="group">
            <div class="header-row">
              <span class="header-title">Nombre</span>
              <span class="header-title">Se le suma al dado</span>
            </div>
            <div *ngFor="let characteristic of grupo3" class="stat-item">
              <span class="stat-name">{{ characteristic.nombre }}</span>
              <ion-input
                type="number"
                [(ngModel)]="characteristic.sumarAlDado"
                class="stat-input"
              ></ion-input>
            </div>
          </div>
        </div>
      </ion-scroll>
    </ion-tab>

    <ion-tab tab="skills">
      <hr>
      <ion-title class="title3">Habilidades</ion-title>
      <ion-list>
        <ion-item *ngFor="let habilidad of habilidades">
          <ion-label>
            <h2>{{ habilidad.nombre }}</h2>
            <p>{{ habilidad.descripcion }}</p>
            <ion-range min="1" max="5" step="1" [(ngModel)]="habilidad.nivel">
              <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
              <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            </ion-range>
            <p>Nivel: {{ habilidad.nivel }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-tab>

    <ion-tab tab="bag">
      <hr>
      <div class="game-master-container">
        <ion-title class="title3">Inventario</ion-title>
          <div class="todo">
            <div class="personajes-container">
              <ion-list lines="none">
              <div class="inventory-container">
                <ion-item class="inventory-item" id="open-modal">
                  <ion-img
                  src='/assets/images/wooden_sword.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item" id="open-modal">
                  <ion-modal #modal trigger="open-modal">
                    <ng-template>
                      <ion-content>
                        <ion-toolbar>
                          <ion-title>Cascos</ion-title>
                          <ion-buttons slot="end">
                            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                  
                        <ion-list>
                          <ion-item>
                            <ion-label position="stacked">Nombre del Ítem</ion-label>
                            <ion-input placeholder="Ingresa el nombre del ítem" [(ngModel)]="nombreItem"></ion-input>
                          </ion-item>
                  
                          <ion-item>
                            <ion-label position="stacked">Imagen del Ítem</ion-label>
                            <ion-img [src]="imagenItemUrl" alt="Imagen del ítem"></ion-img>
                            <ion-button expand="block" (click)="cargarImagen()">Cargar Imagen</ion-button>
                          </ion-item>
                  
                          <ion-item>
                            <ion-label position="stacked">Estadística</ion-label>
                            <ion-input type="number" placeholder="Estadística que da" [(ngModel)]="estadisticaItem"></ion-input>
                          </ion-item>
                        </ion-list>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                  <ion-img
                  [src]='imagenItemUrl'></ion-img>
                </ion-item>
                <ion-item class="inventory-item" id="open-modal">
                  <ion-img
                  src='/assets/images/wooden_sword.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item" id="open-modal">
                  <ion-img
                  src='/assets/images/wooden_sword.png'></ion-img>
                </ion-item>
              </div>
              <ion-fab-button color="dark" >
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              </ion-list> 
            </div>
          </div>
      </div>
    </ion-tab>

    <ion-tab tab="pjkn">
      <div class="game-master-container">
        <h1 class="title">Modificar Personaje</h1>
        <hr>
          <div class="todo">
            <div class="personajes-container">
              <h2 class="title-personajes">Sigma</h2>
              <ion-list lines="none">
                <ion-list-header>
                  Personajes conocidos
                </ion-list-header>
              <div class="inventory-container">
                <ion-item class="inventory-item">
                  <ion-img
                  src='/assets/images/npc1.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item">
                  <ion-img
                  src='/assets/images/npc1.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item">
                  <ion-img
                  src='/assets/images/npc1.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item">
                  <ion-img
                  src='/assets/images/npc1.png'></ion-img>
                </ion-item>
                <ion-item class="inventory-item">
                  <ion-img
                  src='/assets/images/npc1.png'></ion-img>
                </ion-item>

                <ion-fab-button color="dark" >
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>

              </div>
              </ion-list> 
            </div>
          </div>
      </div>
    </ion-tab>

    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button tab="stats">
        <ion-icon name="body"></ion-icon>
        Estadisticas
      </ion-tab-button>
      <ion-tab-button tab="skills">
        <ion-icon name="options"></ion-icon>
        Habilidades
      </ion-tab-button>
      <ion-tab-button tab="bag">
        <ion-icon name="logo-dropbox"></ion-icon>
        Inventario
      </ion-tab-button>
      <ion-tab-button tab="pjkn">
        <ion-icon name="people"></ion-icon>
        Conocidos
      </ion-tab-button>
    </ion-tab-bar> 
  </ion-tabs>
</ion-content>
