@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.login-page {
  background-color: #333;
  color: #fff;
}

.image-container {
  background: none;
  height: 50vh;
}

.login-container {
  background: linear-gradient(to top, #1c1c1c, transparent); /* Degradado de negro a transparente */
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 0 0 20px 20px;
  position: relative;
  //top: -20px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.login-title {
  font-family: 'Cinzel Decorative', serif; /* Aplica la fuente al título */
  font-size: 2em;
  color: #ffc107; /* Cambia el color para hacerlo más llamativo */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade un efecto de sombra */
  text-align: center;
}

.input-item {
  margin-bottom: 10px;
  --background: #444; /* Fondo oscuro para los campos de entrada */
  border-radius: 8px;
}

.login-button {
  margin-top: 20px;
  --background: #555; /* Color de fondo del botón */
  color: #fff;
}

.register-redirect {
  margin-top: 20px;
  color: #ffc107;
}

.register-redirect span {
  cursor: pointer;
  color: #ffc107;
  text-decoration: underline;
}
