.register-page {
  --background: url('/assets/images/fondo.jpg') no-repeat center center/cover; /* Usa tu GIF como fondo */
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /* Para una mejor transición del fondo */

  .register-container {
    background: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente para el formulario */
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Sombra para dar profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .logo {
      width: 200px;
      height: auto;
      margin: 20px 0;
    }

    .register-title {
      font-family: 'MedievalSharp', serif; /* Fuente medieval */
      font-size: 2em;
      color: #ffc107; /* Color dorado */
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
      margin-bottom: 20px;
      text-align: center;
    }

    .input-item {
      --background: rgba(255, 255, 255, 0.15);
      --color: #ffffff;
      --placeholder-color: rgba(255, 255, 255, 0.6);
      --highlight-color-focused: #ffc107; /* Color de enfoque dorado */
      margin-top: 15px;
      height: 60px;
    }

    .error-message {
      font-size: 10px;
      color: red;
      margin-top: -10px;
      text-align: left;
      width: 100%;
    }

    .register-button {
      margin-top: 20px;
      border-radius: 15px;
      font-family: 'MedievalSharp', serif;
      color: #ffffff;
      background-color: #8a634f;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #a05f3c;
      }

      ion-icon {
        margin-right: 8px;
      }
    }

    .login-redirect {
      color: #ffffff;
      margin-top: 15px;
      text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
      font-size: 0.9em;

      span {
        color: #ffc107;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
