.game-master-page {
    --background: url('/assets/images/3.jpg') no-repeat center center/cover;

    ion-modal {
        --height: 10vh;
        --background: #000000;
    }
    .game-master-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        a{
            right: 0;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 20px;
            text-decoration: none;
        }
        
        hr {
            width: 250px;
            height: 0px;
            border: 1px solid #dfd5a6;
            margin-bottom: 30px;
        }

        .mesas-container {
            width: 300px;
            height: 67vh;
            background: #4d4d4d9a;
            padding: 25px 20px 0px 20px;
            border-radius: 10px;
            position: relative;
            overflow-y: auto;
        }

        .participantes {
            --background: none;
        }

        .mesas-title {
            font-family: garamond;
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: 5px;
            color: #dfd5a6;
            text-shadow: 2px 2px 16px rgb(0, 0, 0);
            margin-bottom: -5px;
        }

        .mesa-item {
            font-family: 'Chau Philomene One';
            font-size: large;
            --background: #babababe;
            --color: #322e20;
            --placeholder-color: rgba(255, 255, 255, 0.6);
            --highlight-color-focused: #f4d03f;
            margin-bottom: 15px;
            border-radius: 10px;
            height: 60px;
            text-transform: uppercase;
        }

        .add-mesa {
            display: flex;
            width: 80px;
            height: 80px;
            margin: 10px;
            background: #e4e1e1;
            border-radius: 50%;
            position: fixed;
            right: 10px;
            bottom: 10px;
            color: #000000;
            font-size:xx-large;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            z-index: 1;

        }
      
        ion-icon {
            margin-right: 0px;
        }
    }
}