<ion-content class="rol-page">
  <!-- Contenedor de roles en la parte baja -->
  <div class="rol-container">
    <h1 class="rol-title">SELECCIONA EL ROL</h1>
    <ion-button color="dark" expand="block" type="submit" (click)="goToGameMaster()" class="rol-button">Game Master</ion-button>
    <ion-button color="dark" expand="block" (click)="goToJugador()" class="rol-button">Jugador</ion-button>
    <ion-button color="dark" expand="block"  href="assets/manual.pdf" target="_blank" class="rol-button">Manual</ion-button>
  </div>
</ion-content>
