<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" (click)="goToGame_Master()"> Atras </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content class="game-master-page">
  <div class="game-master-container">

    <h1 class="title">Gestionar Mesa</h1>
    <hr>

    <div class="todo">
      <div class="mesas-container">
        <ion-item class="mesa-item">
          <ion-input [(ngModel)]="mesa.nombre" label="Nombre" label-placement="floating" placeholder="Ingrese el nombre"></ion-input>
        </ion-item>

        <ion-item class="mesa-item">
          <ion-select [(ngModel)]="mesa.tematica" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" label="Tematica" label-placement="floating" placeholder="Seleccionar">
            <ion-select-option value="FANTASIA">Fantasía</ion-select-option>
            <ion-select-option value="futurista">Futurista</ion-select-option>
            <ion-select-option value="moderno">Moderno</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="personajes-container">
        <div class="blur-background"></div> <!-- Fondo con blur -->
        <div class="content">
          <h2>Personajes</h2>
          <div class="scroll">
            <ion-item  (click)="goToModify_pj()" class="personaje-item"  *ngFor="let personaje of personajes">
              <ion-label>ID: {{ personaje.id }}</ion-label>
            </ion-item>
          </div>
        </div>
        <ion-fab-button color="dark" (click)="crearPersonajeBasico()" class="add-personaje">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</ion-content>
