<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" (click)="goToGame_Master()"> Atras </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="game-master-page">
  <div class="game-master-container">

    <h1 class="mesas-title">Nueva Mesa</h1>
    <hr>

    <div class="todo">
      <div class="mesas-container">
        <ion-item class="mesa-item">
          <ion-input label="Nombre" label-placement="floating" placeholder="Ingrese el nombre"></ion-input>
        </ion-item>

        <ion-item class="mesa-item">
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" label="Tematica" label-placement="floating" placeholder="Seleccionar">
            <ion-select-option value="medieval">Medieval</ion-select-option>
            <ion-select-option value="futurista">Futurista</ion-select-option>
            <ion-select-option value="moderno">Moderno</ion-select-option>
          </ion-select>
        </ion-item>


      </div>
      <h2 class="mesas-title">Personajes</h2>
      <a class="add-mesa">+</a>
    </div>
  </div>
</ion-content>
